.finger-icon {
  position: absolute;
  top: 12px;
  left: -12px;
  width: 25px;
  height: 32px;
  background-image: url('foam-hand.png'), url('chrome-extension://__MSG_@@extension_id__/content/foam-hand.png');
  background-size: cover;
  z-index: 9999;
}

.small-finger-icon {
  position: absolute;
  top: 4px;
  left: -15px;
  width: 22px;
  height: 28px;
  background-image: url('foam-hand.png'), url('chrome-extension://__MSG_@@extension_id__/content/foam-hand.png');
  background-size: cover;
  z-index: 9999;
}

.example-hover-text {
  position: absolute;
  display: none;
  top: 30px;
  left: -5px;
  font-size: .875rem;
  padding: 4px;
  padding-top: 7px;
  background-color: #334054;
  z-index: 9998;
  white-space: nowrap;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
}

.hover-link {
  display: block;
}
.fan-link {
}
.critic-link {
  color: #FFC2C5
}

.tiny-icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background-size: cover;
  /* vertically center */
  display: flex;
  align-items: center;
}
.trophy-shadow-image {
  background-image: url('trophy-shadow.png'), url('chrome-extension://__MSG_@@extension_id__/content/trophy-shadow.png');
  /* partially transparent */
  opacity: 0.85;
}
.pepper-shadow-image {
  background-image: url('pepper-shadow.png'), url('chrome-extension://__MSG_@@extension_id__/content/pepper-shadow.png');
  /* partially transparent */
  opacity: 0.85;
}
.trophy-image {
  background-image: url('trophy.png'), url('chrome-extension://__MSG_@@extension_id__/content/trophy.png');
}
.pepper-image {
  background-image: url('pepper.png'), url('chrome-extension://__MSG_@@extension_id__/content/pepper.png');
}
