/* Style page with sans serif font */
body {
  font-family: sans-serif;
  color: #2D2D57;
  text-align: center;
  width: 440px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0;
    color: #4338CA;
    /* vertically center */
    display: flex;
    align-items: center;
    margin: 10px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding-top: 5px;
}

.right {
    text-align: right;
}

.padtop {
    padding-top: 15px;
}

.github-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.refresh-note {
    font-style: italic;
    font-size: 0.8rem;
    text-align: left;
}

#load-status-label {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: 600;
    color: #CCC;
    text-shadow: 1px 2px black;
}

#load-status-outer-bar {
    position: relative;
    width: 100%;
    height: 25px;
    background-color: #959595;
    border-radius: 5px;
    border: solid 2px #B1B1C7;

}

#load-status-inner-bar {
    width: 30%;
    height: 25px;
    background-color: #4338CA;
    border-radius: 5px;
}

/* A stylized button with blue rounded outline that fills with blue on hover */
button {
    background-color: #FFFFFF;
    border: 2px solid #4338CA;
    border-radius: 5px;
    color: #4338CA;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #4338CA;
    color: #FFFFFF;
}
